<md-autocomplete placeholder="$ your expense (ex: 12.32 lunch)"
                 md-autoselect="true"
                 md-selected-item="vm.selectedItem"
                 md-search-text="vm.searchText"
                 md-items="item in vm.getMatches(vm.searchText)"
                 md-item-text="item.display"
                 md-no-cache="true"
                 md-selected-item-change="vm.selected()">
    <md-item-template>
        <span md-highlight-text="vm.searchText">{{item.amount | currency}} {{item.display}}</span>
    </md-item-template>
    <md-not-found>
        No matches found.
    </md-not-found>
</md-autocomplete>

<md-list>
    <md-list-item class="md-2-line" ng-repeat="item in vm.expenses" ng-click="vm.viewExpense($event, item)">
        <div class="md-list-item-text">
            <h4>{{item.amount | currency}} {{item.display}}</h4>

            <p class="md-caption">{{item.created | date}}</p>
        </div>
        <md-button class="md-secondary" aria-label="delete" ng-click="vm.deleteExpense($event, item)">
            <md-icon md-font-set="material-icons">delete</md-icon>
        </md-button>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>
