<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Trocado Endpoint</display-name>
    <description>Trocado manages your home finances</description>
    <listener>
        <listener-class>to.cwa.trocado.TrocadoContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>
                to.cwa.trocado.account.AccountController,
                to.cwa.trocado.expense.ExpenseController,
                to.cwa.trocado.upload.UploadController
            </param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>auth-user</servlet-name>
        <servlet-class>to.cwa.auth.http.AuthUserGitkitServlet</servlet-class>
    </servlet>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auth-user</servlet-name>
        <url-pattern>/auth-user/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
